<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Códigos postales</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
       <h1>Error en el código postal</h1>
       <section class="form-codigo">
        <h2>Código postal: {{codigo}}</h2>
        <h4>No válido ó no encontrado</h4>
      </section>
    </body>
</html>